﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Admin<br />
    Hồ Vương Trọng<br />
    <abbr title="Phone">P:</abbr>
    01646150791
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tronghv1993@gmail.com">tronghv1993@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">tronghv1993@gmail.com</a>
</address>